body {
    font-family: 'Open Sans', 'Arial', 'sans-serif';
    text-align: center;
    margin: 0;
    padding:5%;
}

.menu {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', 'sans-serif';
    background-color: rgb(180, 218, 219);
    color: white;
    border:1px solid rgb(0, 0, 0) ;
    border-radius:5%;
    border-color: beige;
    width:15%;
    margin:2%;
    padding: 5px;
    font-size: 1.3em;
    display:inline-block;
}
.header{
    text-align: center;
    padding-top: 2%;
}
a {
    color: black;
}
footer{
    text-align: left;
    background-color: rgb(235, 215, 215);
    color: black;
    width: 100%;
    border: 10px;
    padding:3%;
}
.imgif{
    align-content: left;
    width: 15%;
    padding:2%;
}
h6{
    background-position: center;
}

p{
    color:blue;
}